@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(#fff4dd, #838383 80%);
}

body {
  margin: 0;
}

h1{
  font-family: "Playfair Display";
}

.outline-text {
  -webkit-text-stroke: 1px white;
}
